.ipynb_checkpoints
Silva/SILVA_138_SSURef_NR99_tax_silva.fasta.gz
training-feature-classifiers/silva-132-99-nb-classifier.qza
training-feature-classifiers/silva_132_99_16S.fna
training-feature-classifiers/classifier.qza


